body {
    background-color: #6a317f;
    font-family: 'Montserrat', sans-serif;
}
table {
    margin-top: 15px; 
    background-color: #ffffff;
    border-collapse: collapse; 
}
table td {
    padding: 12px 16px;
}
table tr {
    text-align: center;
    border-bottom: 1px solid #e8e9eb;
}
table  tr:hover {
    color:  #e90052;
    font-weight: bold;
}
.epltable table tr:first-child {
    background-color: #EAFF04;
    font-weight:bold;
    color: black;
}

.scorers table tr:first-child {
    background-color: #04f5ff;
    font-weight:bold;
    color: black;
}#

table tr:last-child {
    border-bottom: none;
}
.epltable table tr:nth-child(2) {
    background-color: #87ffb774;
}
.epltable table tr:nth-child(3) {
    background-color: #87ffb774;
}
.epltable table tr:nth-child(4) {
    background-color: #87ffb774;
}
.epltable table tr:nth-child(5) {
    background-color: #87ffb774;
}
.epltable table tr:nth-child(6) {
    background-color: #f5ff8774;
}
.epltable table tr:nth-child(19) {
    background-color: #ffab8774;
}
.epltable table tr:nth-child(20) {
    background-color: #ffab8774;
}
.epltable table tr:nth-child(21) {
    background-color: #ffab8774;
}
header img {
    height: 150px;
}
.header__body {
    display: flex;
    justify-content: center;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-with: 650px;
}
.table__footer{
    display: flex;
    margin-top: 30px;
    background-color: white;
}
.footer__img{
    width: 540px;
    height: 207px;
}
.container p {
    padding-top: 7px;
    padding-left: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #38003c;
}
.footer__img1{
    width: 540px;
    height: 207px;
}
.table__footer1{
    display: flex;
    margin-top: 10px;
    background-color: white;
}
.container1 p {
    padding-left: 50px;
    padding-top: 20px;
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #38003c;
}
.container2 p {
    padding-left: 50px;
    padding-top: 20px;
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #38003c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EAFF04;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:#6a317f;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #04f5ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 3%;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.epltext {
    color: #EAFF04;
    font-weight: bold;
    font-size: 25px;
    padding-right: 30px;
}
.scorerstext {
    color: #04f5ff;
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
}
.scorers {
    display: flex;
    justify-content: center;
    align-items: center;
}